<div class="container-fluid border-top">
  <div class="row align-items-center text-center my-5">
    <div class="container">
      <a href="https://ha.dev"><i class="fa-brands fa-github m-1 mb-3 text-black" style="color: #ffffff"></i></a>
      <a href="https://ha.dev"><i class="fa-brands fa-twitter m-1 mb-3 text-black" style="color: #ffffff"></i></a>
      <a href="https://ha.dev"><i class="fa-brands fa-facebook m-1 mb-3 text-black" style="color: #ffffff"></i></a>
    </div>
    <p class="text-body-secondary fst-italic">Copyright © Hack Academy 2022</p>
  </div>
</div>