<nav class="navbar bg-dark fixed-top">
  <div class="container px-5">
    <a class="navbar-brand mb-0 h1 text-white" href="/">Hack the blog</a>
    <div>
      <a class="btn btn-outline-primary m-1" href="/register">Sing Up</a>
      <a class="btn btn-success m-1" href="/login">Login</a>
      <a class="btn btn-secondary m-1" href="/admin">Admin</a>
    </div>
  </div>
</nav>
