<nav class="navbar bg-dark">
  <div class="d-flex justify-content-between">
    <span class="navbar-brand mb-0 h1 text-withe">Hack the blog</span>
    <a class="btn btn-primary" href="">Admin</a>
  </div>
</nav>
