.bg-img {
  position: relative;
  background-color: #000;
}

.bg-img::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.5;
  background: url("../img/blog-header.jpg") no-repeat center center;
  background-size: cover;
}

.articles {
  max-height: calc(100vh - 100px);
  overflow-y: scroll;
}
